body {
    background: #000000;
    color: lightgray;
    font-size: 28px;
}
.clearfix {
    clear: both;
}
#container {
    width: 900px;
    margin: 0 auto;
}

#plansza{
    width: 900px;
    margin: 50px 0 50px 0;
    text-align: center;
    font-size: 48px;
    min-height: 60px;
}

#szubienica {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;
}
#alfabet {
    float: left;
    width: 450px;
    text-align: center;
    min-height: 280px;

}

.litera {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border: 3px solid gray;
    float: left;
    cursor: pointer;
    border-radius: 15px;
}

.litera:hover {
    background: #222222;
    color: white;
    border: 3px solid white;
}